global:
  scrape_interval: 5s

rule_files:
  - "/etc/prometheus/rule.yml"

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - 'http://alertmanager:9093'

scrape_configs:
  - job_name: 'k3s-nodes'
    kubernetes_sd_configs:
      - role: node
        api_server: '{{K8S_API_SERVER}}'
        bearer_token_file: /run/secrets/prometheus_token
        tls_config:
          insecure_skip_verify: true
    relabel_configs:
      - source_labels: [__address__]
        regex: '(.*):10250' 
        target_label: __address__
        replacement: '$1:9100' 

      - source_labels: [__meta_kubernetes_node_name]
        target_label: instance

      - source_labels: [__meta_kubernetes_node_label_monitor]
        regex: 'false'
        action: drop